*{
	box-sizing: border-box;
}

header{
	height: 50px;
	width: 100%;
	background-color: rgba(0,150,0,0.5);
	position: fixed;
	top: 0;
	z-index: 10;

}

header h1{
	float: left;
	font-size: 20px;
	margin: 10px;
	padding-right: 20px;
	color: white;
}

header li{
	list-style: none;
	float: left;
	color: white;
	padding-right: 20px;

}

body{
	background-color: #CCFFCC;
	margin: 0;
}

.main{

}

.main-top{
	background-image: url("images/chami4.JPG");
	background-size: cover;
	height: 200px
}

.main-top h1{
	text-align: center;
	color: white;

}

.main-middle{
	margin-top: 100px;

}

.main-middle h2{
	border-bottom: 2px solid rgba(0,150,0,0.5);
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.main-middle-content{
	width: 33%;
	float: left;
	text-align: center;
	padding: 20px;
}

.main-middle-content h3{
	text-align: center;
}

.main-middle-content p img{
	width: 80%;
	text-align: center;
}
